h1 {
    color: white;
    text-align: center;
}

header {
    background-color: rgb(40, 154, 99);
    height: 45vh;
    padding: 0 15%;
}

input {
    width: 30vw;
    height: 4vh;
    margin-top: 2%;
    margin-right: 2%;
}

.add {
    width: 30.5vw;
    height: 4.8vh;
}

.send {
    width: 33vw;
    height: 4.8vh;
    margin: 2% 0 0 18%;
}