.events {
  display: flex;
  justify-content: space-around;
}

article {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 30vw;
}

thead tr {
  background-color: rgb(40, 154, 99);
  color: #ffffff;
  text-align: center;
}

th td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

thead th {
  height: 40px;
}

tbody th {
  height: 40px;
}

// V / X / ?
svg {
  padding: 0 2%;
}

#true {
  color: green;
}

#false {
  color: red;
}

#null {
  color: grey;
}
